<div id="development">
  <a href="https://github.com/MovingBlocks/Terasology/archive/develop.zip">Source</a>
  <a href="https://github.com/MovingBlocks/Terasology/wiki/Contributor-Guide">Contributor Guide</a>
  <a href="http://forum.terasology.org/forums/contributor-introductions.7/">Contributor Intro</a>
  <a href="https://github.com/MovingBlocks/Terasology/wiki/Dev-Setup">Development Setup</a>
  <a href="https://github.com/MovingBlocks/Terasology/wiki/Modding-Guide">Modding Guide</a>
  {{> backbutton}}
</div>