<div id="download">

  <h3>Terasology Launcher {{launcherReleases.version}}</h3>
  <p>Released {{formatDate launcherReleases.released "%m/%d/%Y"}}</p>

  <div class="recommended">
    <p><strong><i class="fa"></i> <span class="platform"></span></strong></p>
    <a class="btn" href=""><i class="fa fa-download"></i> Download <small class="size"></small></a>
  </div>

  <p></p>

  <a href="#releases">Other Platforms</a>

  <!--
  <a href="https://github.com/MovingBlocks/TerasologyLauncher/releases/latest">Launcher</a>
  <a href="http://jenkins.terasology.org/job/TerasologyStable/lastSuccessfulBuild/artifact/build/distributions/Terasology.zip">Stable Client</a>
  <a href="http://jenkins.terasology.org/job/Terasology/lastSuccessfulBuild/artifact/build/distributions/Terasology.zip">Latest Client</a>
  -->

  {{>backbutton}}
</div>