<div id="play">
  <iframe
      data-src="http://jenkins.terasology.org/job/TerasologyApplet/lastSuccessfulBuild/artifact/build/distributions/applet/index.html"
      style="height: 376px; width: 650px;"
      frameBorder="0"
      ></iframe>

  <a href="#" class="back">Back</a>
</div>