<a href="https://www.facebook.com/Terasology" class="fb"></a>
<a href="https://twitter.com/terasology" class="tw"></a>
<a href="https://plus.google.com/103835217961917018533" class="gp" rel="publisher"></a>
<a href="http://www.youtube.com/user/blockmaniaTV" class="yt"></a>
<a href="http://reddit.com/r/Terasology" class="ri"></a>
<a href="http://github.com/MovingBlocks" class="gh"></a>

<!-- Since this is a splash site, do users need to know what Jenkins is? -->
<a href="http://jenkins.terasology.org" class="jenkins"></a>

<a href="http://blog.movingblocks.net/blog/" class="wp"></a>