<div id="index">
  <a href="#play">Play (PC)</a>
  <a href="#download" class="download"><i class="fa fa-download"></i> Download</a>
  <a href="#gameplay">Gameplay</a>
  <a href="#development">Development</a>
  <a href="http://forum.terasology.org/">Forum</a>
</div>