<div id="index">
  <a href="#play">Play (PC)</a>
  <a href="#download">Download</a>
  <a href="#gameplay">Gameplay</a>
  <a href="#development">Development</a>
  <a href="http://forum.terasology.org/">Forum</a>
</div>